In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("movies_dataset.csv")

In [3]:
df

                Movie  Year  IMDB             Actor
0         Baahubali 2  2017  Flop        Ajay Devgn
1                 RRR  2005   Hit     Ranbir Kapoor
2           Gully Boy  2003  Flop    Shah Rukh Khan
3               Badla  2005   Hit     Ranbir Kapoor
4          Brahmastra  2016   Hit    Hrithik Roshan
..                ...   ...   ...               ...
295           Dilwale  2016   Hit  Amitabh Bachchan
296               War  2006   Hit      Akshay Kumar
297           Dilwale  2008  Flop     Ranbir Kapoor
298            Sultan  2015   Hit     Rajkummar Rao
299  Pushpa: The Rise  2007  Flop     Rajkummar Rao

[300 rows x 4 columns]

In [4]:
df.loc[0]

Movie    Baahubali 2
Year            2017
IMDB            Flop
Actor     Ajay Devgn
Name: 0, dtype: object

In [5]:
df.iloc[0]

Movie    Baahubali 2
Year            2017
IMDB            Flop
Actor     Ajay Devgn
Name: 0, dtype: object

In [6]:
df.loc[0,"Actor"]

'Ajay Devgn'

In [8]:
df.iloc[4,3]

'Hrithik Roshan'

In [11]:
df.loc[0,"Year"]

np.int64(2017)

In [15]:
df.loc[0:2, ["Actor", "Movie"]] # Rows 0 to 2, selected columns

            Actor        Movie
0      Ajay Devgn  Baahubali 2
1   Ranbir Kapoor          RRR
2  Shah Rukh Khan    Gully Boy

In [16]:
df.iloc[0:2, 0:2]

         Movie  Year
0  Baahubali 2  2017
1          RRR  2005

In [18]:
df.at[4,"Actor"]  ## fasst access by lable

'Hrithik Roshan'

In [19]:
df.iat[4,3]

'Hrithik Roshan'

In [21]:
df[df["Year"] > 2022]

          Movie  Year  IMDB           Actor
13       Sultan  2024   Hit  Hrithik Roshan
37       Kaabil  2024  Flop      Aamir Khan
48           PK  2024  Flop      Allu Arjun
59      Tamasha  2024   Hit   Vicky Kaushal
86      Tamasha  2023   Hit            Yash
95        Don 2  2023  Flop      Ajay Devgn
123      Kaabil  2024  Flop            Yash
176    Super 30  2024  Flop  Hrithik Roshan
180     Tanhaji  2023   Hit      Ram Charan
187       Radhe  2023  Flop  Hrithik Roshan
203   Andhadhun  2024   Hit      Allu Arjun
204        Zero  2024   Hit     Salman Khan
226      Kaabil  2023  Flop  Shah Rukh Khan
237     Tamasha  2023   Hit            Yash
256   Gully Boy  2024   Hit      Ram Charan
287  Brahmastra  2023  Flop   Rajkummar Rao
289          PK  2024   Hit   Rajkummar Rao

In [28]:
pd