In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("movies_dataset.csv")

In [3]:
df

                Movie  Year Hit/Flop             Actor
0         Baahubali 2  2017     Flop        Ajay Devgn
1                 RRR  2005      Hit     Ranbir Kapoor
2           Gully Boy  2003     Flop    Shah Rukh Khan
3               Badla  2005      Hit     Ranbir Kapoor
4          Brahmastra  2016      Hit    Hrithik Roshan
..                ...   ...      ...               ...
295           Dilwale  2016      Hit  Amitabh Bachchan
296               War  2006      Hit      Akshay Kumar
297           Dilwale  2008     Flop     Ranbir Kapoor
298            Sultan  2015      Hit     Rajkummar Rao
299  Pushpa: The Rise  2007     Flop     Rajkummar Rao

[300 rows x 4 columns]

In [14]:
type(df["Actor"])

pandas.core.series.Series

In [16]:
df[["Actor","Movie"]]

                Actor             Movie
0          Ajay Devgn       Baahubali 2
1       Ranbir Kapoor               RRR
2      Shah Rukh Khan         Gully Boy
3       Ranbir Kapoor             Badla
4      Hrithik Roshan        Brahmastra
..                ...               ...
295  Amitabh Bachchan           Dilwale
296      Akshay Kumar               War
297     Ranbir Kapoor           Dilwale
298     Rajkummar Rao            Sultan
299     Rajkummar Rao  Pushpa: The Rise

[300 rows x 2 columns]

In [18]:
df.head()

         Movie  Year Hit/Flop           Actor
0  Baahubali 2  2017     Flop      Ajay Devgn
1          RRR  2005      Hit   Ranbir Kapoor
2    Gully Boy  2003     Flop  Shah Rukh Khan
3        Badla  2005      Hit   Ranbir Kapoor
4   Brahmastra  2016      Hit  Hrithik Roshan

In [20]:
df.loc[1]

Movie                 RRR
Year                 2005
Hit/Flop              Hit
Actor       Ranbir Kapoor
Name: 1, dtype: object

In [21]:
df.iloc[5]

Movie               Sultan
Year                  2021
Hit/Flop               Hit
Actor       Hrithik Roshan
Name: 5, dtype: object

In [24]:
df.loc[8,"Movie"]

'Tamasha'

In [29]:
df.iloc[5,3]

'Hrithik Roshan'

In [31]:
df.loc[0:2,["Actor" , "Movie"]]

            Actor        Movie
0      Ajay Devgn  Baahubali 2
1   Ranbir Kapoor          RRR
2  Shah Rukh Khan    Gully Boy

In [34]:
df.iat[0,0]

'Baahubali 2'

In [16]:
pf = pd.read_csv("movies_dataset_1.csv")

In [17]:
pf

                Movie  Year Hit/Flop             Actor  IMDb Rating
0         Baahubali 2  2017     Flop        Ajay Devgn          5.6
1                 RRR  2005      Hit     Ranbir Kapoor          4.5
2           Gully Boy  2003     Flop    Shah Rukh Khan          8.7
3               Badla  2005      Hit     Ranbir Kapoor          4.4
4          Brahmastra  2016      Hit    Hrithik Roshan          6.5
..                ...   ...      ...               ...          ...
295           Dilwale  2016      Hit  Amitabh Bachchan          8.1
296               War  2006      Hit      Akshay Kumar          9.6
297           Dilwale  2008     Flop     Ranbir Kapoor          9.4
298            Sultan  2015      Hit     Rajkummar Rao          5.2
299  Pushpa: The Rise  2007     Flop     Rajkummar Rao          5.7

[300 rows x 5 columns]

In [51]:
pf[pf['IMDb Rating'] ==4]

                  Movie  Year Hit/Flop         Actor  IMDb Rating
19               Race 3  2003     Flop  Akshay Kumar          4.0
39             Super 30  2004     Flop       Prabhas          4.0
133  Laal Singh Chaddha  2016     Flop    Ram Charan          4.0
200               Don 2  2012      Hit  Akshay Kumar          4.0
251               Radhe  2007      Hit  Akshay Kumar          4.0

In [58]:
pf[(pf['IMDb Rating']>6) &(df['Year']>2023)]

         Movie  Year Hit/Flop           Actor  IMDb Rating
13      Sultan  2024      Hit  Hrithik Roshan          7.8
48          PK  2024     Flop      Allu Arjun          6.6
59     Tamasha  2024      Hit   Vicky Kaushal          7.1
123     Kaabil  2024     Flop            Yash          6.4
203  Andhadhun  2024      Hit      Allu Arjun          9.1
256  Gully Boy  2024      Hit      Ram Charan          8.0

In [21]:
c = pf.query("Year >2020 and Actor == 'Hrithik Roshan'")

In [71]:
print(c)

        Movie  Year Hit/Flop           Actor  IMDb Rating
5      Sultan  2021      Hit  Hrithik Roshan          9.8
13     Sultan  2024      Hit  Hrithik Roshan          7.8
176  Super 30  2024     Flop  Hrithik Roshan          4.6
187     Radhe  2023     Flop  Hrithik Roshan          5.3
219     Sanju  2022      Hit  Hrithik Roshan          6.7

In [22]:
pf.query("Year >2020 and Actor == 'Hrithik Roshan' and `IMDb Rating`>9")

    Movie  Year Hit/Flop           Actor  IMDb Rating
5  Sultan  2021      Hit  Hrithik Roshan          9.8

In [76]:
c.loc[5,'Actor'] = "atul"

In [74]:
pf

                Movie  Year Hit/Flop             Actor  IMDb Rating
0         Baahubali 2  2017     Flop        Ajay Devgn          5.6
1                 RRR  2005      Hit     Ranbir Kapoor          4.5
2           Gully Boy  2003     Flop    Shah Rukh Khan          8.7
3               Badla  2005      Hit     Ranbir Kapoor          4.4
4          Brahmastra  2016      Hit    Hrithik Roshan          6.5
..                ...   ...      ...               ...          ...
295           Dilwale  2016      Hit  Amitabh Bachchan          8.1
296               War  2006      Hit      Akshay Kumar          9.6
297           Dilwale  2008     Flop     Ranbir Kapoor          9.4
298            Sultan  2015      Hit     Rajkummar Rao          5.2
299  Pushpa: The Rise  2007     Flop     Rajkummar Rao          5.7

[300 rows x 5 columns]

In [24]:
c.loc[2,'Actor'] = "atul"

In [25]:
pf

                Movie  Year Hit/Flop             Actor  IMDb Rating
0         Baahubali 2  2017     Flop        Ajay Devgn          5.6
1                 RRR  2005      Hit     Ranbir Kapoor          4.5
2           Gully Boy  2003     Flop    Shah Rukh Khan          8.7
3               Badla  2005      Hit     Ranbir Kapoor          4.4
4          Brahmastra  2016      Hit    Hrithik Roshan          6.5
..                ...   ...      ...               ...          ...
295           Dilwale  2016      Hit  Amitabh Bachchan          8.1
296               War  2006      Hit      Akshay Kumar          9.6
297           Dilwale  2008     Flop     Ranbir Kapoor          9.4
298            Sultan  2015      Hit     Rajkummar Rao          5.2
299  Pushpa: The Rise  2007     Flop     Rajkummar Rao          5.7

[300 rows x 5 columns]

In [26]:
c

        Movie    Year Hit/Flop           Actor  IMDb Rating
5      Sultan  2021.0      Hit  Hrithik Roshan          9.8
13     Sultan  2024.0      Hit  Hrithik Roshan          7.8
176  Super 30  2024.0     Flop  Hrithik Roshan          4.6
187     Radhe  2023.0     Flop  Hrithik Roshan          5.3
219     Sanju  2022.0      Hit  Hrithik Roshan          6.7
2         NaN     NaN      NaN            atul          NaN

In [27]:
c.sort_values("Year")

        Movie    Year Hit/Flop           Actor  IMDb Rating
5      Sultan  2021.0      Hit  Hrithik Roshan          9.8
219     Sanju  2022.0      Hit  Hrithik Roshan          6.7
187     Radhe  2023.0     Flop  Hrithik Roshan          5.3
13     Sultan  2024.0      Hit  Hrithik Roshan          7.8
176  Super 30  2024.0     Flop  Hrithik Roshan          4.6
2         NaN     NaN      NaN            atul          NaN

In [30]:
c.reset_index(drop=True)

      Movie    Year Hit/Flop           Actor  IMDb Rating
0    Sultan  2021.0      Hit  Hrithik Roshan          9.8
1    Sultan  2024.0      Hit  Hrithik Roshan          7.8
2  Super 30  2024.0     Flop  Hrithik Roshan          4.6
3     Radhe  2023.0     Flop  Hrithik Roshan          5.3
4     Sanju  2022.0      Hit  Hrithik Roshan          6.7
5       NaN     NaN      NaN            atul          NaN

In [36]:
d =c.sort_values(["Year","Actor" ]).copy()

In [43]:
d

      Movie    Year Hit/Flop           Actor  IMDb Rating
0    Sultan  2021.0      Hit  Hrithik Roshan          9.8
1     Sanju  2022.0      Hit  Hrithik Roshan          6.7
2     Radhe  2023.0     Flop  Hrithik Roshan          5.3
3    Sultan  2024.0      Hit  Hrithik Roshan          7.8
4  Super 30  2024.0     Flop  Hrithik Roshan          4.6
5       NaN     NaN      NaN            atul          NaN

In [40]:
d.reset_index(drop = True , inplace =True)

In [44]:
c

        Movie    Year Hit/Flop           Actor  IMDb Rating
5      Sultan  2021.0      Hit  Hrithik Roshan          9.8
13     Sultan  2024.0      Hit  Hrithik Roshan          7.8
176  Super 30  2024.0     Flop  Hrithik Roshan          4.6
187     Radhe  2023.0     Flop  Hrithik Roshan          5.3
219     Sanju  2022.0      Hit  Hrithik Roshan          6.7
2         NaN     NaN      NaN            atul          NaN

In [42]:
d

      Movie    Year Hit/Flop           Actor  IMDb Rating
0    Sultan  2021.0      Hit  Hrithik Roshan          9.8
1     Sanju  2022.0      Hit  Hrithik Roshan          6.7
2     Radhe  2023.0     Flop  Hrithik Roshan          5.3
3    Sultan  2024.0      Hit  Hrithik Roshan          7.8
4  Super 30  2024.0     Flop  Hrithik Roshan          4.6
5       NaN     NaN      NaN            atul          NaN

In [ ]:
d["Rank"]