In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("movies_dataset.csv")

In [3]:
df

                Movie  Year Hit/Flop             Actor
0         Baahubali 2  2017     Flop        Ajay Devgn
1                 RRR  2005      Hit     Ranbir Kapoor
2           Gully Boy  2003     Flop    Shah Rukh Khan
3               Badla  2005      Hit     Ranbir Kapoor
4          Brahmastra  2016      Hit    Hrithik Roshan
..                ...   ...      ...               ...
295           Dilwale  2016      Hit  Amitabh Bachchan
296               War  2006      Hit      Akshay Kumar
297           Dilwale  2008     Flop     Ranbir Kapoor
298            Sultan  2015      Hit     Rajkummar Rao
299  Pushpa: The Rise  2007     Flop     Rajkummar Rao

[300 rows x 4 columns]

In [14]:
type(df["Actor"])

pandas.core.series.Series

In [16]:
df[["Actor","Movie"]]

                Actor             Movie
0          Ajay Devgn       Baahubali 2
1       Ranbir Kapoor               RRR
2      Shah Rukh Khan         Gully Boy
3       Ranbir Kapoor             Badla
4      Hrithik Roshan        Brahmastra
..                ...               ...
295  Amitabh Bachchan           Dilwale
296      Akshay Kumar               War
297     Ranbir Kapoor           Dilwale
298     Rajkummar Rao            Sultan
299     Rajkummar Rao  Pushpa: The Rise

[300 rows x 2 columns]

In [18]:
df.head()

         Movie  Year Hit/Flop           Actor
0  Baahubali 2  2017     Flop      Ajay Devgn
1          RRR  2005      Hit   Ranbir Kapoor
2    Gully Boy  2003     Flop  Shah Rukh Khan
3        Badla  2005      Hit   Ranbir Kapoor
4   Brahmastra  2016      Hit  Hrithik Roshan

In [20]:
df.loc[1]

Movie                 RRR
Year                 2005
Hit/Flop              Hit
Actor       Ranbir Kapoor
Name: 1, dtype: object

In [21]:
df.iloc[5]

Movie               Sultan
Year                  2021
Hit/Flop               Hit
Actor       Hrithik Roshan
Name: 5, dtype: object