In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("movies_dataset.csv")

In [3]:
df

                Movie  Year Hit/Flop             Actor
0         Baahubali 2  2017     Flop        Ajay Devgn
1                 RRR  2005      Hit     Ranbir Kapoor
2           Gully Boy  2003     Flop    Shah Rukh Khan
3               Badla  2005      Hit     Ranbir Kapoor
4          Brahmastra  2016      Hit    Hrithik Roshan
..                ...   ...      ...               ...
295           Dilwale  2016      Hit  Amitabh Bachchan
296               War  2006      Hit      Akshay Kumar
297           Dilwale  2008     Flop     Ranbir Kapoor
298            Sultan  2015      Hit     Rajkummar Rao
299  Pushpa: The Rise  2007     Flop     Rajkummar Rao

[300 rows x 4 columns]

In [14]:
type(df["Actor"])

pandas.core.series.Series

In [16]:
df[["Actor","Movie"]]

                Actor             Movie
0          Ajay Devgn       Baahubali 2
1       Ranbir Kapoor               RRR
2      Shah Rukh Khan         Gully Boy
3       Ranbir Kapoor             Badla
4      Hrithik Roshan        Brahmastra
..                ...               ...
295  Amitabh Bachchan           Dilwale
296      Akshay Kumar               War
297     Ranbir Kapoor           Dilwale
298     Rajkummar Rao            Sultan
299     Rajkummar Rao  Pushpa: The Rise

[300 rows x 2 columns]

In [18]:
df.head()

         Movie  Year Hit/Flop           Actor
0  Baahubali 2  2017     Flop      Ajay Devgn
1          RRR  2005      Hit   Ranbir Kapoor
2    Gully Boy  2003     Flop  Shah Rukh Khan
3        Badla  2005      Hit   Ranbir Kapoor
4   Brahmastra  2016      Hit  Hrithik Roshan

In [20]:
df.loc[1]

Movie                 RRR
Year                 2005
Hit/Flop              Hit
Actor       Ranbir Kapoor
Name: 1, dtype: object

In [21]:
df.iloc[5]

Movie               Sultan
Year                  2021
Hit/Flop               Hit
Actor       Hrithik Roshan
Name: 5, dtype: object

In [24]:
df.loc[8,"Movie"]

'Tamasha'

In [29]:
df.iloc[5,3]

'Hrithik Roshan'

In [31]:
df.loc[0:2,["Actor" , "Movie"]]

            Actor        Movie
0      Ajay Devgn  Baahubali 2
1   Ranbir Kapoor          RRR
2  Shah Rukh Khan    Gully Boy

In [34]:
df.iat[0,0]

'Baahubali 2'

In [38]:
pf = pd.read_csv("movies_dataset_1.csv")

In [39]:
pf

                Movie  Year Hit/Flop             Actor  IMDb Rating
0         Baahubali 2  2017     Flop        Ajay Devgn          5.6
1                 RRR  2005      Hit     Ranbir Kapoor          4.5
2           Gully Boy  2003     Flop    Shah Rukh Khan          8.7
3               Badla  2005      Hit     Ranbir Kapoor          4.4
4          Brahmastra  2016      Hit    Hrithik Roshan          6.5
..                ...   ...      ...               ...          ...
295           Dilwale  2016      Hit  Amitabh Bachchan          8.1
296               War  2006      Hit      Akshay Kumar          9.6
297           Dilwale  2008     Flop     Ranbir Kapoor          9.4
298            Sultan  2015      Hit     Rajkummar Rao          5.2
299  Pushpa: The Rise  2007     Flop     Rajkummar Rao          5.7

[300 rows x 5 columns]

In [51]:
pf[pf['IMDb Rating'] ==4]

                  Movie  Year Hit/Flop         Actor  IMDb Rating
19               Race 3  2003     Flop  Akshay Kumar          4.0
39             Super 30  2004     Flop       Prabhas          4.0
133  Laal Singh Chaddha  2016     Flop    Ram Charan          4.0
200               Don 2  2012      Hit  Akshay Kumar          4.0
251               Radhe  2007      Hit  Akshay Kumar          4.0

In [58]:
pf[(pf['IMDb Rating']>6) &(df['Year']>2023)]

         Movie  Year Hit/Flop           Actor  IMDb Rating
13      Sultan  2024      Hit  Hrithik Roshan          7.8
48          PK  2024     Flop      Allu Arjun          6.6
59     Tamasha  2024      Hit   Vicky Kaushal          7.1
123     Kaabil  2024     Flop            Yash          6.4
203  Andhadhun  2024      Hit      Allu Arjun          9.1
256  Gully Boy  2024      Hit      Ram Charan          8.0

In [68]:
c = pf.query("Year >2020 and IMDb Rating > 6")

SyntaxError: Python keyword not valid identifier in numexpr query (<unknown>, line 1)

In [67]:
print(c)

                  Movie  Year Hit/Flop             Actor  IMDb Rating
5                Sultan  2021      Hit    Hrithik Roshan          9.8
13               Sultan  2024      Hit    Hrithik Roshan          7.8
23                Sanju  2022      Hit      Varun Dhawan          8.5
37               Kaabil  2024     Flop        Aamir Khan          5.7
41             Drishyam  2022      Hit      Varun Dhawan          8.0
48                   PK  2024     Flop        Allu Arjun          6.6
50                  RRR  2022      Hit       Salman Khan          5.9
54               Race 3  2021      Hit      Varun Dhawan          6.3
59              Tamasha  2024      Hit     Vicky Kaushal          7.1
73                Sanju  2021      Hit      Akshay Kumar          4.6
83   Laal Singh Chaddha  2022      Hit  Amitabh Bachchan          9.1
86              Tamasha  2023      Hit              Yash          4.3
95                Don 2  2023     Flop        Ajay Devgn          5.4
100            Drishyam  2022     Flop     Vicky Kaushal          4.9
112          Chhichhore  2021      Hit     Rajkummar Rao          6.2
115              Kesari  2022     Flop     Rajkummar Rao          6.9
120               Jawan  2022     Flop     Rajkummar Rao          7.1
123              Kaabil  2024     Flop              Yash          6.4
139         Kabir Singh  2021      Hit  Amitabh Bachchan          5.6
150                 Fan  2022     Flop      Akshay Kumar          7.0
176            Super 30  2024     Flop    Hrithik Roshan          4.6
179            Super 30  2021     Flop  Amitabh Bachchan          6.5
180             Tanhaji  2023      Hit        Ram Charan          9.9
187               Radhe  2023     Flop    Hrithik Roshan          5.3
199             Tamasha  2021      Hit  Amitabh Bachchan          8.9
203           Andhadhun  2024      Hit        Allu Arjun          9.1
204                Zero  2024      Hit       Salman Khan          5.1
213         Housefull 4  2021      Hit      Akshay Kumar          5.7
219               Sanju  2022      Hit    Hrithik Roshan          6.7
226              Kaabil  2023     Flop    Shah Rukh Khan          6.1
228         Kabir Singh  2022     Flop     Vicky Kaushal          7.2
235                Zero  2022     Flop      Varun Dhawan          6.5
237             Tamasha  2023      Hit              Yash          8.9
256           Gully Boy  2024      Hit        Ram Charan          8.0
259         Kabir Singh  2021      Hit        Allu Arjun          9.8
263           Baahubali  2021     Flop    Shah Rukh Khan          4.9
265            Drishyam  2021     Flop        Ajay Devgn          5.6
279          Chhichhore  2021      Hit        Aamir Khan          8.1
280             Tamasha  2021     Flop      Varun Dhawan          9.7
287          Brahmastra  2023     Flop     Rajkummar Rao          4.6
289                  PK  2024      Hit     Rajkummar Rao          5.9